body, html{
  background-color: #f7f7f8;
  overflow-x: hidden;
}
.md-menu-content-container{
  background-color: #ffffff !important;
}
a {
  text-decoration: none !important;
  color: #4693a9;
}
.md-button-content {
  text-decoration: none !important;
  color: #4693a9;
}
.md-button-content {
  text-decoration: none !important;
  color: #4693a9;
}